*{margin:0; padding:0; border:none; outline:none; font-weight: 300; box-sizing: border-box;}
body{}

.header{width: 100%; display: flex;}
.toggle{padding:0px 16px; text-align: right; box-sizing: border-box; color:#FCA311; font-size:24px; display:none;}
.navtoggle{width:100%; height: auto; background:#3C096C; font-family: 'Roboto', serif; position: relativa; float: left;}
	.ula{width:95%;margin:0 auto; padding:0;text-align: right; }
	.ula .lia{list-style: none; display:inline-block; padding: 16px 8px 16px 8px; vertical-align: middle; color:#FCA311;}
	.ula .lia:hover{color:#FFFFFF;  font-weight: bold;}
	.ula .lia a {color:currentColor; text-decoration: none;}
	#btn-nav-toggle{width:80px; height: 40px; padding: 0px; margin-left: 8px; font-size:16px; color:#FCA311; background-color:#FFFFFF; border: 3px solid #FCA311; border-radius: 10px;}
	#btn-nav-toggle:hover{font-weight: bold; border: 2px solid #FCA311;}
	#btn-nav-toggle:active{font-weight: bold; border: 2px solid #d5d5d5;}
	#icon-nav-li{fill:#FCA311}
	#icon-nav-li:hover{fill:#ffffff; cursor: pointer;}
	#horizont-logo-nav{height: 40px; padding-top: 8px;}
	#div-logo-nav{position: absolute; float: left; padding-top: 6px; padding-left: 16px;}
	#btnpopup{width: 150px;height: 69px; position: fixed; bottom: 64px; z-index: 9; right: 16px;}
	#btnpopup{background-image: url('../images/mini/btnpopup0.png'); background-size: 150px 69px; }
	#btnpopuptext{width: 100%;height: 69px; position: absolute;right: 0px; }
	#btnpopuptext1{text-align: right;margin-right: 16px; margin-top: 6px; font-size: 13px; font-weight: bold;color: #ffffff;}
	#btnpopuptext2{text-align: right;margin-right: 12px;margin-bottom: 6px; font-size: 11px; font-weight: bold;color: #5A1894;}

@media(max-width:800px){
.toggle{display:flex; align-items: center; text-align: right; justify-content: flex-end;}
.navtoggle{width:100%;}
	.ula{width:100%; display:none; position: absolute;background: inherit;  background: rgba(0, 0, 0, 0.6);}
	.ula .lia{display:block; text-align: center;}
	.ula.active{display:block;}
	.onclick{background:#e91e63;}
	#icon-nav-li{display: none; padding: 0px;}
	#menu-nav-toggle{padding: 8px;}
	#icon-nav-toggle{display: none;}
	#btn-nav-toggle{display: none;}
	#icon-nav-mobile{margin-right: 16px;}
	#icon-nav-mobile:active{fill: #ffffff;}
	#icon-nav-mobile2:active{fill: #ffffff;}
	#btn-nav-mobile{width:80px; height: 40px; margin-right: 16px; margin-bottom: 8px; margin-top: 8px; font-size:16px; background-color: #ffffff; border: 3px solid #FCA311; border-radius: 10px;}
	#btn-nav-mobile:active{font-weight: bold; border: 1px solid #FCA311;}
}
@media(max-width:356px){
	#div-logo-nav{display: none;}
}

.footer{width:100%;height:auto; background-color: #3C096C; padding-top:32px; display:flex; font-family: 'Roboto', serif; justify-content: space-around; box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.25);}
	#footer-frame1{width:33%; text-align: center;}
	#footer-frame2{width:34%; height:auto; text-align:center;}
	#footer-frame3{width:33%; text-align:center; align-items: center;}
	#logofooter{height:176px;}
	.navfooter{width:100%;}
	#iconsocial1{width:40px; margin-right:16px; color:#e5e5e5;}
	#iconsocial2{width:40px;}
	#title-footer{font-size:16px; color:#f5f5f5; text-align:center; }
	#frame-form-footer{width: auto; display: flex; flex-direction: column; align-items: center}
	#frame-icons-footer{margin-top: 40px;}
	#inputemail-footer{width:243px; height: 28px; color:#000000; font-size: 12px; padding: 8px; margin-bottom: 8px}
	#inputtext-footer{width:243px; height: 82px; color:#000000; font-size: 12px; padding: 8px; margin-bottom: 8px; vertical-align: text-top; resize: none;}
	#inputemail-footer:active{color:#ffffff;}
	#inputtext-footer:active{color:#ffffff;}
	#btn-footer{width:243px; height: 28px; font-size: 16px; margin-bottom: 8px; border: 3px solid #263238; box-sizing: border-box; border-radius: 10px; color: #263238;display: flex;align-items: center; justify-content: center;}
	#divmailsent{width: 100%;  background: rgba(0, 0, 0, 0.6); color: #FCA311; text-align: center; font-size: 24px; font-weight: bold; font-family: Roboto, serif; position: fixed; bottom: 0px; display: none;}

@media(max-width:800px){
	.footer{width:100%; height:auto; padding-top: 16px; display: block; text-align: center; font-family: 'Roboto', serif;}
	#footer-frame1{width:100%; height:auto; margin-bottom: 32px;}
	#footer-frame2{width:100%; height:auto; margin-bottom: 32px;}
	#footer-frame3{width:100%; height:auto; padding-bottom: 16px;}
	#iconsocial1{max-width:40px;}
	#iconsocial2{max-width:40px;}
	#title-footer{font-size:16px; margin-bottom: 16px;}
	#frame-icons-footer{margin-top: 32px;}
	#emailft{margin-bottom: 8px;}
	#txtft{margin-bottom: 8px;}
	#btnft{margin-bottom: 8px;}
}

.description{width: 100%;height: 90vh; position: relative; background-size: cover;}
#coverimgindex{background-position: right; background-position: bottom;}
#coverimgsobre{background-position: center;}
#p-cover01{position: absolute;width: 100%; height:8vh ;background: rgba(0, 0, 0, 0.8); bottom:0vh; display: flex; align-items: center; justify-content: center}
#paragraphindex{text-align: center; font-family: 'Aref Ruqaa', cursive; color: #F5B731; font-weight: bold; white-space: nowrap; font-size: 24px; overflow: hidden;}
.h1-primary{font-size: 32px; color: #FCA311; font-weight: bold;}
#index-h1{margin-left:32px; margin-top: 40px; margin-bottom: 16px;}
.logoindexdiv1{width:100%;border-radius: 0px 25px;}
#logoindexdiv0{width:27%; position: relative; display: flex; justify-content: center; align-items: center;}
#body-indexdiv1{width: 100%; display: flex;justify-content: space-between; padding-left: 32px; padding-right: 32px;}
#textlogo{position: absolute; width: 100%; height: 100%; text-align: center; font-size: 24px; border-radius: 0px 25px; color: rgba(0, 0, 0, 0.0);}
#textlogo:hover{background-color: rgba(0, 0, 0, 0.5); transition: 300ms;color: rgba(255, 255, 255, 1.0); text-decoration: none; }
#textlogo1{margin-top: 50%; font-weight: bold; }
#blog-indexdiv{background: #F5F5F5;display: flex;position: relative; margin-left: 32px; margin-right: 32px; margin-bottom: 56px; border-radius:8px;}
#blog-indeximg{width: 50%; margin: 16px; background-size: cover; background-position: center;}
#blog-indexdescription{width: 50%; margin: 16px; display: block; position: relative;}
#blog-indextitle{font-size: 32px; font-weight: bold; color: #5A189A;}
#blog-indextext{margin-top: 8px; font-size: 24px; color: #8B8A8A;}
#blog-indexhash{margin-top: 16px; font-size: 18px; color: rgba(252, 163, 17, 0.7);}
#blog-indexbtn{width: 20vh; float: right;bottom: 0px; font-size: 100%; padding: 8px; border-radius: 10px; border: 3px solid #FCA311; font-family: roboto; color: #FCA311; background-color: #ffffff;}
#blog-indexbtn:hover{font-weight: bold; border: 3px solid #FCA311;}
#blog-indexbtn:active{font-weight: bold; border: 3px solid #d5d5d5; margin-top: 8px;}
#blog-indexbtn2{bottom: 0; position: absolute; right: 0;}


@media(max-width:800px){
	.description{height: 50vh; background-position: right;}
	#p-cover01{ height:5vh}
	#body-indexdiv1{padding-left: 16px; padding-right: 16px;}
	.h1-primary{font-size: 24px;}
	#index-h1{margin-left:16px; margin-top: 32px; margin-bottom: 24px;}
	#textlogotxt{position: absolute; width: 100%; height: 25%; text-align: center; font-size: 1.8vh; border-radius: 0px 0px 0px 25px; background-color: rgba(0, 0, 0, 0.5);color: rgba(255, 255, 255, 1.0);  bottom:0vh;}
	#textlogo1{margin-top: 2% ; font-weight: bold; }
	#blog-indexdiv{margin-left: 16px; margin-right: 16px; margin-bottom: 40px;}
	#blog-indeximg{margin: 8px;}
	#blog-indexdescription{width: 50%; margin: 8px;}
	#blog-indextitle{font-size: 16px; font-weight: bold;}
	#blog-indextext{margin-top: 8px; font-size: 12px;}
	#blog-indexhash{margin-top: 8px; font-size: 10px;}
	#blog-indexbtn{width: 10vh;margin-top: 8px; float: right; position: relative; font-size: 100%; padding: 2px; font-weight: bold;}
}

#sobreanefertiti{width: 100%;background: blue;padding-left: 32px;padding-right: 32px; margin-top: 32px; display: flex; justify-content:center; background-position: center; position: relative;}
#logosobrediv1{width: 30%;height: 0; padding-bottom: 30%; border-radius: 0px 25px; float: left; position: relative; background-size: contain;} 
#logosobredivtext{width: 55% ; background: #F5F5F5; display: flex ;justify-content: center; padding: 20px; overflow:auto; align-items: center;}
#logosobredivtext1{font-size: 20px; font-family: Roboto, serif; color: #263238;}

@media(max-width:800px){
	#sobreanefertiti{width: 100%;padding-left: 16px;padding-right: 16px; margin-top: 16px}
	#logosobredivtext{}
	#logosobredivtext{margin-left: 16px; padding: 8px; border-radius: 25px;}
	#logosobredivtext1{font-size: 12px;}
}
